*{
	font-family:serif;
}

#copyright{
	/*border:1px dashed;*/
	float:left;	
	position:fixed;
	z-index:1;
	/*left:1.5em;*/
	bottom:0em;
}

#navbar{
	/*border:1px dashed;*/
	float:left;
	position:fixed;
	z-index:1;
}

#contact{
	/*border:1px dashed;*/
	float:left;
	position:fixed;
	z-index:1;
	bottom:2em;
}

h1{
	width:500px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.img{
	border:1px dashed;
	width:500px;
	position:relative;
	margin-bottom:3em;
	margin-left:auto;
	margin-right:auto;
	padding:1em;
}

.description{
	/*border:1px dashed;*/
	margin-top:0;
	margin-bottom:0;
	font-style:italic;
}

.text{
	margin-top:0.25em;
	margin-bottom:0;
}

mark{
	background-color:white;
	/*font-size:0.75em;*/
}